@charset "UTF-8";
/* NAV - Mobile */
@-ms-viewport {width: device-width;}

@viewport {width: device-width;}

.block {
  position: relative;
  margin: 0 auto;
  padding: 0em 1.25em;
  max-width: 60em;}

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: url("../img/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.no-svg .close-btn {
  background-image: url("../img/close-btn.png");}


#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%; }

#inner-wrap {
  position: relative;
  width: 100%; }

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff; }
  
#nav .close-btn {
  display: none; }
  
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top:0;
  width: 1px;}
  
#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em; }
  
#nav ul {
  *zoom: 1;
  display: block; }
  
#nav ul:before, #nav ul:after {
  content: "";
  display: table; }
  
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
}
#nav li a {
  display: block;
  color: #ccc;
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
  text-decoration:none!important;
}
#nav li a:focus, #nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
  color: #fff;
}

.nav-btn {
  position: absolute;
  top: 0.5em;
  left: 1.0em;
  font-size:16px;
  color:#444444;
  text-shadow:0px 1px 0px #ffffff;
}

.call-btn {float:right; padding: 10px 0px 0px 0px;}

#res-nav {
	display:none;}

@media screen and (min-width: 45.0625em) {
 .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav ul {
    text-align: center;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0;
  }
}
@media screen and (max-width: 45em) {
  #res-nav {
	  width:100%;
	display:block;
	text-transform:uppercase;}
	
  #nav {
    position: absolute;
    top: 0;
    padding-top: 5.25em;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav li {
    position: relative;
	padding-bottom: 0px !important;
  }
  #nav ul li.nav-selected:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 15px;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em #FFF solid;
  }
  
  #nav li a {
    padding: 0.85714em 2.14286em;
  }
   #main-container #nav ul { 
    padding: 0.85714em 0em;
	margin:0px; }
	
  #main-container #nav ul ul /* Shadow for ul li li elements */
  { margin: 0px; background-color:rgba(255, 255, 255, 0.1); padding:0px; 
    -moz-box-shadow:    inset 0  8px 8px -8px #232323, 
                        inset 0 -8px 8px -8px #232323;
    -webkit-box-shadow: inset 0  8px 8px -8px #232323, 
                        inset 0 -8px 8px -8px #232323;
     box-shadow:        inset 0  8px 8px -8px #232323, 
                        inset 0 -8px 8px -8px #232323;}

  
  #nav li ul li a {
    padding: 0.7em 3em;
  }

  .js-ready #nav {
    height: 100%;
    width: 70%;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* =============================================================================
   NAV - Desktop
   ========================================================================== */
/* IPAD */

#controls li {
    display: block;
}

#controls li .link {
    display: block;
    padding: 10px;
    border-bottom: solid 1px #CCC;
}

#controls li .hover_controls {
    float: right;
    display: none;
}

#controls li:hover .hover_controls {
    display: block;
}

#controls {
margin: 0;
padding: 0;
}

/* HORIZONTAL */

/* HOME BUTTON ------------------------------------------------------
#horizontal-nav ul li a.nav-home {
text-indent: -999999px;
background-image: url(../img/home-button.png);
background-position: 0 0;
background-repeat: no-repeat;
margin: 0;
padding: 0;
width: 38px;
height: 38px;
background-color: #444444;
-webkit-transition: background-color 1s ease; /* For chrome & safari 
-moz-transition: background-color 1s ease; /* For mozilla firefox 
-o-transition: background-color 1s ease; /* For opera 
transition: background-color 1s ease;
}

#horizontal-nav ul li a.nav-home:hover {
background-color: #222222;
}

#horizontal-nav ul li.nav-home {
margin: 0 10px 0 0;
padding: 0;
}

#horizontal-nav ul li a.nav-home {
margin: 0;
padding: 0;
display: block;
}
------------------------------------------------------ */


#horizontal-nav {
margin: 0px 0px 0px 0px;
padding: 15px 0px 0px 0px;
position: relative;
text-transform:uppercase;
}

#horizontal-nav ul {
padding: 0;
list-style: none;
}

#horizontal-nav ul li {
margin: 0px;
padding: 0px 7px 5px 7px;
float: left;
margin-right: 10px;
position: relative;
-webkit-transition: background-color 1s ease; /* For chrome & safari */
-moz-transition: background-color 1s ease; /* For mozilla firefox */
-o-transition: background-color 1s ease; /* For opera */
transition: background-color 1s ease;
background-image:none;
}


#horizontal-nav ul li a {
margin: 0;
padding: 0;
text-decoration: none;
color: #444444;
font-family:inherit;
font-size:14px;
line-height: 15px;
text-decoration:none!important;text-shadow:0px 1px 0px #ffffff;
}

#horizontal-nav ul li a:hover {
color: #E3E3E3;
}

#horizontal-nav ul li a.nav-selected {
}

#horizontal-nav ul li a.nav-path-selected {

}

#horizontal-nav ul li ul {
height: auto;
width: 200px;
opacity: 0;
position: absolute;
left: 0;
top: -999999%;
padding: 0; 
margin: 0;
z-index: 25;
}

#horizontal-nav ul li:hover > ul {
opacity: 1;
position: absolute;
top: 100%;
-webkit-transition: opacity 1s ease; /* For chrome & safari */
-moz-transition: opacity 1s ease; /* For mozilla firefox */
-o-transition: opacity 1s ease; /* For opera */
transition: opacity 1s ease;
}

#horizontal-nav ul li ul li {
margin:0;
padding: 0;
background: #EBEBEB;/*customize_sub_navigation_background*/
color: #FFFFFF;/*customize_sub_navigation_link*/
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-khtml-border-radius: 0px;
border-radius: 0px; 
}
}

#horizontal-nav ul li ul li:last-child {
border-bottom: none;
}

#horizontal-nav ul li ul li a {
margin: 0;
padding: 10px;
height: auto;
width: 180px;
display: block;
text-align: left;
line-height: normal;
border-bottom: 1px solid #cfcfcf;
font-family:inherit;
font-size:14px;
line-height: 14px;
}

#horizontal-nav ul li ul li:hover {
color: #2d6c79;
-webkit-transition: all 1s ease; /* For chrome & safari */
-moz-transition: all 1s ease; /* For mozilla firefox */
-o-transition: all 1s ease; /* For opera */
transition: all 1s ease;
}

#horizontal-nav ul li ul li:hover > a {
  background: rgba(255, 255, 255, 0.1);
color: #2d6c79;
-webkit-transition: all 1s ease; /* For chrome & safari */
-moz-transition: all 1s ease; /* For mozilla firefox */
-o-transition: all 1s ease; /* For opera */
transition: all 1s ease;
}

#horizontal-nav ul li ul li ul {
left: -999999px;
top: -1px;
}

#horizontal-nav ul li ul li:hover > ul {
left: 100%;
top: -1px;
}

#horizontal-nav ul li a.nav-dropdown {
background-image: url("../img/sub-nav-down-icon.png");
background-repeat: no-repeat;
background-position: right center;
padding: 10px 15px 10px 0;
}

#horizontal-nav ul li ul li a.nav-dropdown {
background-image: none;
padding: 0 30px 0 0;
width: 150px;
}

#horizontal-nav ul li ul li.nav-dropdown {
padding: 10px;
background-image: url("../img/sub-nav-right-icon.png");
background-repeat: no-repeat;
background-position: right center;
}

@media only screen and (min-width: 768px) and (max-width: 959px) { #horizontal-nav ul li {padding: 0px 3px 5px 3px;} #horizontal-nav ul li a {font-size:12px;}}
@media screen and (max-width: 45em) {#horizontal-nav {display:none;}}